{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Show Checkin</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">status</th>
      <th scope="col">date</th>
      <th scope="col">time</th>
      <th scope="col">action</th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <form method="POST">
    <td></td>
    <td><input class="input" type="text" name="name_search" placeholder="Name"></td>
    <td></td>
    <td><input class="input" type="text" name="date_search" placeholder="YYYY-MM-DD"></td>
    <td></td>
    <td><button type="submit" class="btn btn-primary">Search</button></td>
    </form>
  </tr>
  {% for i in range(users| length) %}
    <tr>
      <th scope="row">{{ i+1 }}</th>
      <td>{{ users[i].name }}</td>
      <td>{{ users[i].status }}</td>
      <td>{{ users[i].date }}</td>
      <td>{{ users[i].time }}</td>
      <td><a href="./remove/checkin/{{ users[i].id }}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>

</table>

</div>
{% endblock %}
