{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Show Checkin</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">action</th>
    </tr>
  </thead>

  <tbody>
  {% for i in range(users| length) %}
    <tr>
      <th scope="row">{{ i+1 }}</th>
      <td>{{ users[i].id }}</td>
      <td>{{ users[i].name }}</td>
      <td><a href="./remove/user/{{ users[i].id }}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>

</table>

</div>
{% endblock %}
